.header {
  background-color: var(--white);
  color: var(--grey-4);
  padding-top: 16px;
  border-bottom: solid 1px var(--grey-2);
}

.header__container {
  width: var(--container-width-small);
  margin: 0 auto;
}

.header__burger-menu {
  cursor: pointer;
}

.header__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  margin: 48px 0 32px;
}

.header_transparent {
  background-color: transparent;
}

.header__top {
  display: flex;
  justify-content: flex-start;
  gap: 93px;
}

.header__logo {
  height: 32px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translate(-50%, 0);
}

.header__logo-square,
.header__logo-circle {
  width: 32px;
  height: 32px;
  background-color: var(--black);
}

.header__logo-circle {
  border-radius: 50%;
}

.header__logo-triangle {
  border: solid 16px var(--black);
  border-top-color: transparent;
  border-right-color: transparent;
}

.header__menu-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: var(--container-width-medium);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    color: var(--black);
    padding-top: 24px;
  }

  .header__container {
    width: var(--container-width-large);
  }

  .header__top {
    display: flex;
    justify-content: space-between;
  }

  .header__burger-menu {
    display: none;
  }

  .header__logo {
    position: static;
    transform: none;
  }

  .header__title {
    margin: 38px 0 40px;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
  }

  .header__menu-wrapper {
    display: flex;
    gap: 56px;
  }

  .header__menu {
    display: flex;
    gap: 24px
  }

  .header__menu-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    text-decoration: none;
  }

  .header__menu-link_active {
    color: var(--black);
  }
}

