.button {
  --blue-1: #4263EB;
  --blue-2: #2342C0;
  --purple-1: #7048E8;
  --purple-2: #5028C6;

  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px 66px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button_primary {
  background-color: var(--blue-1);
}

.button_primary:hover, 
.button_primary:active {
  background-color: var(--blue-2);
}

.button_secondary {
  background-color: var(--purple-1);
}

.button_secondary:hover, 
.button_secondary:active {
  background-color: var(--purple-2);
}

.button_alternate {
  background-color: var(--white);
  color: var(--grey-4);
  border: 1px solid var(--grey-3);
}

.button_alternate:hover,
.button_alternate:active {
  background-color: var(--white);
  border-color: var(--black);
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
