.card {
  width: 164px;
  height: 231px;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
}

.card__divider {
  height: 1px;
  background-color: var(--grey-2);
}

.card__bottom {
  padding: 13px 0 8px;
}

.card__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}

.card__type {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: var(--grey-3);
}

@media screen and (min-width: 768px) {
  .card {
    width: 350px;
    height: 367px;
    border-radius: 12px;
    grid-template-rows: 1fr auto auto;
  }

  .card__divider {
    display: none;
  }

  .card__bottom {
    padding: 25px 0 38px;
  }

  .card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
  }

  .card__type {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey-4);
  }
}
