.accordion {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.accordion__item {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  margin-bottom: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  color: #000000;
  list-style: none;
  display: block;
  padding: 24px 32px;
  position: relative;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__item[open] .accordion__summary {
  padding-bottom: 0;
}

.accordion__description {
  color: #495057;
  padding: 16px 48px 32px 32px;
  margin: 0;
}

.accordion__toggle-icon {
  width: 26px;
  height: 26px;
  color: var(--grey-4);
  position: absolute;
  top: 24px;
  right: 30px;
}

.accordion__item[open] .accordion__toggle-icon {
  transform: rotate(180deg);
}

