.main {
  height: 1036px;
  background-color: var(--grey-5);
}

.main__container {
  max-width: var(--container-width);
  margin: 68px auto 204px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
