.main {
  background-color: var(--grey-5);
}

.main__container {
  max-width: var(--container-width);
  margin: 68px auto 204px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main_inner .main__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;
}

.main__component-container {
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

.main__menu {
  width: 200px;
}
