.footer {
  background-color: var(--white);
  color: var(--black);
  padding: 0 160px;
  text-align: center;
}

.footer__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
}
