.footer {
  background-color: var(--white);
  color: var(--black);
  padding: 70px 0 136px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
}

.footer__container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.footer__title {
  font-size: 38px;
  line-height: 48px;
}

.footer_transparent {
  background-color: transparent;
}

.footer__common-title {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}
